run = ["cargo", "run"]

entrypoint = "src/test.rs"

[packager]
language = "rust"

[packager.features]
packageSearch = true

[languages.rust]
pattern = "**/*.rs"

[languages.rust.languageServer]
start = "rust-analyzer"
